<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SQLConnString1" connectionString="server=172.18.128.66;user id=my;password=my;database=ArduinoTestDB;min pool size=4;max pool size=4;packet size=1024" providerName="System.Data.SqlClient"/>
    <!-- SQL connection string for handling transactions on the Inventory database-->
    <add name="SQLConnString2" connectionString="server=172.18.128.66;user id=my;password=my;database=ArduinoTestDB;min pool size=4;max pool size=4;packet size=1024" providerName="System.Data.SqlClient"/>
    <!-- SQL connection string for Orders database-->
    <add name="SQLConnString3" connectionString="server=172.18.128.66;user id=my;password=my;database=ArduinoTestDB;min pool size=4;max pool size=4;packet size=1024" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>